body {
    font-size: 30px;
}

h1 {
    font-size: 30px;
    background: yellow;
    height: 150px;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    border-radius: 20px;
    border: 5px double brown;
}

.form {
    border: 3px solid black;
    width: 0 auto;
    height: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

input {
    font-size: 20px;
}
.submit, .clear {
    font-size: 25px;
    background: black;
    color: white;
    border: 3px solid red;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 70px;
}

legend, label, input {
    margin-bottom: 10px;
    margin-left: 40px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    left: 0;
    bottom-margin: 0;
}
